doctype html
html
	head
		title= title
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
	body
		div.container
			block content

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="http://code.angularjs.org/1.1.5/angular.js")
	script(src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
	script(src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js")
	script(src="./javascripts/all.js")