
<style >
.animate-enter, 
.animate-leave
{ 
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
	opacity: 1;
	width: 150px;
	height: 150px;
}

.deleteButton {
	margin-left: 6px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



</style>
<nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">פרוייקט</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id = "add"><a href="#">הוסף</a></li>
            <li><a href="#">בית</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div  class = 'jumbotron' id= "submit" dir = "rtl" style="display: none;margin-top: 70px; overflow: hidden;">
	<h2>הוספה</h2> <br>
	<form id = "submitNewForm" method = "POST" action = "/submit/do"> 
		<h4>תיאור</h4>
		<input type="text" class="form-control" placeholder="תיאור" name = "desc" aria-describedby="desc">
		<h4>שם</h4>
		<input type="text" class="form-control" placeholder="שם" name = "author" aria-describedby="name">
		<h2></h2>
		<input type = "submit" id = "submitButton" class="btn btn-default" value="שלח">

	</form>
</div>

<div ng-cloak  class = 'jumbotron'  ng-app = "allResults" ng-controller="mainController" dir = "rtl" style="margin-top: 70px; overflow: hidden;">
	<h2>כל ההצעות </h2> <br>
	<div ng-animate="'animate'" ng-repeat="result in allArr | filter : '!!'">

		<div class = "panel panel-default" >
			<div class="panel-heading"> 
				<span  ng-show = "finished" ng-click="delete(result._id)" class="glyphicon glyphicon-remove deleteButton"></span>
				<span><b> נערך ע"י: </b>  {{ result.author }}  <b> בתאריך: </b>  {{result.date | date: 'dd.MM.yyyy, hh:mm'}}   </span>
			</div>
			<div class="panel-body"> <h4>
				<div class="btn-group-xs btn-group-vertical" style="margin-left:2px">
					<button type = "button" class = "btn btn-success" ng-click="increase(result._id)">
							<span class="glyphicon glyphicon-thumbs-up", aria-hidden="true"/>
					</button>
					<button type = "button" class = "btn btn-danger" ng-click="decrease(result._id)" >
						<span class="glyphicon glyphicon-thumbs-down", aria-hidden="true"/>
					</button>

				</div>
				<span class = "badge badge" style="margin:2px">{{result.counter !== undefined? result.counter : 0}}</span>
				{{result.desc}} </h4>
			</div>

		</div>

	</div>

</div>