extends layout

block content
	form(method="POST", action="/submit/do")
		p Description
			<br>
			input(type="text", name="desc" size = "150")
		p Name
			<br>
			input(type="text", name="author")
		p
			input(type="submit")